<section class="sup-cta-section">
      <div class="sup-cta-section-underlay"></div>
      <div class="sup-cta-container">
        <h1 class="sup-cta-section-title"> 
            {{#if @custom.email_signup_text}}
                {{@custom.email_signup_text}}
            {{else}}
                Get the fastest, easiest interactive demo platform for teams       
            {{/if}}
        </h1>
        <a href="#" class="sup-cta-btn"> Get Supademo for free <svg class="sup-cta-arrow" xmlns="http://www.w3.org/2000/svg" height="1em" viewBox="0 0 448 512">
            <path d="M438.6 278.6c12.5-12.5 12.5-32.8 0-45.3l-160-160c-12.5-12.5-32.8-12.5-45.3 0s-12.5 32.8 0 45.3L338.8 224 32 224c-17.7 0-32 14.3-32 32s14.3 32 32 32l306.7 0L233.4 393.4c-12.5 12.5-12.5 32.8 0 45.3s32.8 12.5 45.3 0l160-160z" />
          </svg>
        </a>
      </div>
    </section>